body {
  background-color: rgb(245, 250, 252);
}

h4 {
  margin-top: 1em;
}

table {
  border: 1.5px solid rgba(128,128,128,0.5);
}

th {
  border: 1.5px solid rgba(128,128,128,0.5);
  border-left: 1px solid rgba(128,128,128,0.5);
  border-right: 1px solid rgba(128,128,128,0.5);
  padding: 0 1em 0 ;
}

td {
  border: 1px solid  rgba(128,128,128,0.4);
  border-top: 0;
  border-bottom: 0;
  padding: 0 1em 0 ;
}

td ul {
  list-style-type: none;
}

hr {
  margin: 2em 0;
}

main {
  margin: 5px 5vw;
  max-width: 1200px;
}

section {
  padding: 5px 0;
}

nav {
  background-color: var(--bs-primary-bg-subtle);
}

.card-text {
  margin-bottom: 1em;
}

.nav-p {
  margin: 0 5vw;
  font-weight: 600;
}

.nav-item:hover {
  font-weight: bold;
}

.dropdown-menu {
  background-color: var(--bs-primary-bg-subtle);
}

.dropdown-item {
  background-color: var(--bs-primary-bg-subtle);
}

.dropdown-item:hover {
  background-color: var(--bs-primary-bg-subtle);
  font-weight: bold;
}

.dropdown-toggle.show {
  font-weight: bold;
}